.voucher-section {
    margin-top: 20px;
}
.voucher-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Khoảng cách giữa các voucher */
}
.voucher-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 22%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100px; /* Chiều cao cố định cho mỗi voucher */
}
.voucher-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.voucher-info h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.voucher-info p {
    margin: 5px 0;
    font-size: 14px;
}
.voucher-item button {
    background-color: #ffd500;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.voucher-item button:hover {
    background-color: #ffd500;
}