.custom-table {
    background-color: #f9f9f9; /* Màu nền tổng thể của bảng */
}
.custom-table th {
    background-color: #2c8b73; /* Màu nền của header */
    color: #f1faee; /* Màu chữ của header */
}
.custom-table tbody tr:nth-child(odd) {
    background-color: #e6f7f8; /* Màu cho các dòng lẻ */
}
.custom-table tbody tr:nth-child(even) {
    background-color: #ffffff; /* Màu cho các dòng chẵn */
}
.custom-table tbody tr:hover {
    background-color: #c7ecee; /* Màu nền khi hover */
}
input[type="text"] {
    display: block !important; /* Đảm bảo input được hiển thị */
    visibility: visible !important; /* Đảm bảo input không bị ẩn */
    width: 100% !important; /* Đảm bảo input chiếm đủ chiều rộng */
}



