.bestseller-title{
    background-color: #339C87; /* Chuyển đổi sang màu xanh lá cây */
    color: white;
    padding: 5px;
    padding-top: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.custom-btn:hover,
.custom-btn:focus ,
.custom-btn:active{
    background-color: #339C87;
    color: #fff;
    border-color: #339C87;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-container .btn{
    width: 100%;
    outline-color: #339C87;
}
.custom-btn{
    background-color:#339C87 ;
    outline-color: #A6E3E9;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.page-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.product-container {
    max-width: 100%;
}
.text-primary {
    color: #0073e6 !important;
}
.text-danger {
    color: #ff6600 !important;
}
.text-info {
    color: #ffffff !important;
    background-color: #339C87 !important;
}
.title-container {
    position: relative;
    padding-bottom: 2px;
}

.title {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #339C87;
    position: relative;
    z-index: 1;
    margin-left: 0;
}

.title-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #339C87;
    z-index: 0;
}

:root{
    --primary-colour: rgb(163, 163, 163);
    --secondary-colour: #339C87;

    --star-colour: hsl(38 90% 55%);
}
.product-card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.product-card:hover {
    transform: translateY(-10px); /* Di chuyển lên */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tăng độ bóng */
}
.product-card img{
    position: relative;
    overflow: hidden;
}
.card-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card:hover .card-btn {
    opacity: 1;
}
/* Định dạng cụ thể cho nút giỏ hàng */
.cart-btn {
    background-color: #fff;
    color: #339C87;
}

.cart-btn:hover {
    background-color:#339C87;
}

.cart-btn i {
    margin-right: 8px;

}
/* Thiết lập mặc định cho các ảnh */


