
.products-section .product-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products-section .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.products-section .product-card img {
    transition: transform 0.3s ease;
}

.products-section .product-card:hover img {
    transform: scale(1.1);
}

.products-section .product-buttons {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.products-section .product-buttons button {
    width: 100px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.products-section .product-buttons:hover {
    background-color: #339C87;
    color: white;
}

.products-section .product-card:hover .product-buttons {
    background-color: #339C87;
    color: white;
    opacity: 1;
    justify-content: center;
}
.products-section .product-card:hover .btn{
    color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.page-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}